*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  position: fixed;
  touch-action: pan-x;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
